body {
    background-color: white;
}

.box {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    text-align: center
}

.box1 {
    box-shadow: 0 6px 10px 0;
    background-color: #058ceb;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
}

.box2 {
    box-shadow: 0 6px 10px 0;
    background-color: #058ceb;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box3 {
    box-shadow: 0 6px 10px 0;
    background-color: #058ceb;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: right;
}

.back {
    border-radius: 10px;
    height: 40px;
    width: 80px;
    transition: all .6s ease-in-out;
    color: black;
    background-color: #058ceb;
    border-color: #058ceb;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.back:hover {
    width: 130px;
    letter-spacing: 4px;
    opacity: 0.8;
}

#footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
}