* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.our-team {
    overflow: hidden;
    text-align: center;
    background-color: #34495e;
    padding: 60px;
}

.our-team h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

.distance {
    display: block;
    margin: auto;
    margin-bottom: 36px;
    width: 140px;
    height: 2px;
    background-color: #058ceb;
}

.photos {
    margin-bottom: 40px;
}

.photos a {
    display: inline-block;
    overflow: hidden;
    margin: 0 26px;
    width: 200px;
    height: 200px;
    border-radius: 40%;
}

.photos a img {
    width: 100%;
    transition: all ease-in-out 0.4s;
}

.each {
    color: whitesmoke;
    width: 600px;
    height: 0;
    margin: auto;
    font-size: 20px;
    overflow: hidden;
    text-align: justify;
}

.each:target {
    height: auto;
}

.role-name {
    text-align: center;
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 20px;
}

.our-mission {
    overflow: hidden;
    text-align: center;
    background-color: #34495e;
    padding: 60px;
}

.our-mission h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

.ms {
    color: whitesmoke;
    width: 600px;
    margin: auto;
    font-size: 20px;
    text-align: justify;
}
