    /* Webkit...  is an html and css rendering browser engine for Google Chrome and Safari. The prefix of it is -webkit
    The browser engine Gecko and Trident and its prefix for IE and Microsoft Edge is -ms */

    * {
        padding: 0;
        margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .introduction {
        max-width: 100%;
        font-family: "Montserrat", sans-serif;
        min-height: 100vh;
        background-image: url("./../CSS&JS/img/w2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: screen;
    }

    .introduction .nav-animation {
        background-color: #058ceb;
        border: none;
        position: fixed;
        width: 100%;
        min-height: 7vh;
    }

    .introduction nav {
        width: 100%;
        z-index: 10;
        -webkit-transition: all 0.10s;
        transition: all 0.5s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 7vh;
        border-bottom: 1.5px solid lightblue;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .introduction nav #logo {
        color: lightblue;
        font-family: 'Courgette', cursive;
        padding: 0px 25px;
        flex-basis: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display:flex;
    }

    .introduction nav .nav-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: distribute;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        flex-basis: 60%;
    }

    .introduction nav .nav-links a {
        color: lightblue;
        text-decoration: none;
    }

    .introduction nav .nav-links :hover {
        opacity: 0.1;
    }

    .introduction .headtext {
        color: white;
        min-height: 70vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .introduction .headtext h1 {
        margin: 20px 0px;
        font-weight: 100;
        font-size: 25px;
    }

    .introduction .headtext p {
        font-size: 16px;
        margin: 20px 0px;
    }

    .introduction .headtext button {
        font-family: 'Bangers', cursive;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        font-family: 'Noto Sans TC', sans-serif;
        margin: 30px 0px;
        background: #058ceb;
        border: 2px solid #058ceb;
        padding: 10px 35px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

    .water-energy .intro {
        font-family: 'Bangers', cursive;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        color: black;
        min-height: 30vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .water-energy .intro h1 {
        font-size: 25px;
        padding: 20px 0px;
    }

    .box-of-fields .fields-beggining {
        font-family: "Montserrat", sans-serif;
        min-height: 20vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .box-of-fields .fields-beggining h1 {
        font-size: 20px;
        margin: 20px 0px;
    }

    .box-of-fields .fields-text {
        font-family: "Montserrat", sans-serif;
        margin: 5em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10em;
        grid-column-gap: 10em;
    }

    .box-of-fields .fields-text .field-1 p, .field-2 p, .field-3 p {
        line-height: 150%;
        text-align: center;
        color: #058ceb;
    }
    
    .mySlides {
        width: 700px;
        height: 500px;
        padding-left: 27%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .button1, .button2 {
        font-family: "Montserrat", sans-serif;
        margin: 20px 0px;
        background: #058ceb;
        border: 2px solid #058ceb;
        padding: 10px 35px;
        font-weight: bold;
        color: black;
        cursor: pointer;
        border-radius: 10%;
    }

    .copyright {
        font-family: 'Bangers', cursive;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: lighter;
        color: black;
        border-top: 1.5px solid lightblue;
        text-align: center;
    }